## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Jurm,AF,2022-04-02 20:35:26,36.8648,70.8342,48.96,72,99,1.23,overcast clouds
1,1,Narasannapeta,IN,2022-04-02 20:35:27,18.4167,84.0500,78.57,90,6,9.22,clear sky
2,2,Klaksvik,FO,2022-04-02 20:35:27,62.2266,-6.5890,43.72,86,100,19.57,overcast clouds
3,3,Constitucion,CL,2022-04-02 20:33:16,-35.3333,-72.4167,61.65,84,56,14.43,broken clouds
4,4,Tuatapere,NZ,2022-04-02 20:35:27,-46.1333,167.6833,51.98,85,36,2.46,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
678,678,Khon Kaen,TH,2022-04-02 20:52:43,16.5000,102.0833,64.13,81,95,3.27,overcast clouds
679,679,Inta,RU,2022-04-02 20:52:43,66.0317,60.1659,7.90,94,90,7.16,overcast clouds
680,680,Gunnedah,AU,2022-04-02 20:52:43,-30.9833,150.2500,57.45,61,14,1.63,few clouds
681,681,Prince Rupert,CA,2022-04-02 20:52:44,54.3161,-130.3201,42.89,75,100,40.29,light rain
682,682,Anakapalle,IN,2022-04-02 20:52:44,17.6833,83.0167,82.35,82,40,6.91,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature (°F) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature (°F) you would like for your trip? "))

What is the minimum temperature (°F) you would like for your trip? 75
What is the maximum temperature (°F) you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Narasannapeta,IN,2022-04-02 20:35:27,18.4167,84.0500,78.57,90,6,9.22,clear sky
5,5,Bom Jesus,BR,2022-04-02 20:35:28,-9.0744,-44.3586,85.41,45,80,3.60,broken clouds
10,10,Gao,ML,2022-04-02 20:33:33,16.6362,1.6370,87.21,4,4,6.98,clear sky
13,13,Hithadhoo,MV,2022-04-02 20:35:29,-0.6000,73.0833,82.85,70,12,6.17,few clouds
16,16,Dhone,IN,2022-04-02 20:35:30,15.4167,77.8833,81.59,40,6,8.88,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
667,667,Piacabucu,BR,2022-04-02 20:52:39,-10.4056,-36.4344,78.31,81,22,8.32,few clouds
670,670,Bartica,GY,2022-04-02 20:52:40,6.4000,-58.6167,75.52,95,85,5.86,heavy intensity rain
675,675,Mongoumba,CF,2022-04-02 20:52:42,3.6415,18.5936,79.39,62,96,6.38,overcast clouds
677,677,Minbu,MM,2022-04-02 20:52:42,20.1833,94.8833,82.74,62,18,6.78,few clouds
682,682,Anakapalle,IN,2022-04-02 20:52:44,17.6833,83.0167,82.35,82,40,6.91,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
# there are no null values if sum equals 0
sum(preferred_cities_df.isnull().sum())

0

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Narasannapeta,IN,78.57,clear sky,18.4167,84.0500,
5,Bom Jesus,BR,85.41,broken clouds,-9.0744,-44.3586,
10,Gao,ML,87.21,clear sky,16.6362,1.6370,
13,Hithadhoo,MV,82.85,few clouds,-0.6000,73.0833,
16,Dhone,IN,81.59,clear sky,15.4167,77.8833,
...,...,...,...,...,...,...,...
667,Piacabucu,BR,78.31,few clouds,-10.4056,-36.4344,
670,Bartica,GY,75.52,heavy intensity rain,6.4000,-58.6167,
675,Mongoumba,CF,79.39,overcast clouds,3.6415,18.5936,
677,Minbu,MM,82.74,few clouds,20.1833,94.8833,
682,Anakapalle,IN,82.35,scattered clouds,17.6833,83.0167,

In [8]:
# Test looping through first 3 rows:
# hotel_df = hotel_df[:3]
# hotel_df

In [12]:
# 6a. Set parameters to search for hotels within 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Initialize counters for hotels found and skipped
found = 0
skipped = 0

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        hotel = hotels["results"][0]["name"]
        print(f"Hotel found: {hotel}")
        found += 1
    except (IndexError):
        # Skipped cities get assigned "" and isn't recognized as null value. Instead, set to None so row can be dropped using dropna()
        hotel_df.loc[index, "Hotel Name"]= None
        print("Hotel not found... skipping.")
        skipped += 1

print(f"Done finding hotels. {found} hotels found, {skipped} skipped")

Hotel found: AVK events and catering
Hotel found: Hotel Brasão & Floricultura Bella Flor
Hotel not found... skipping.
Hotel found: Scoop Guest House
Hotel found: Pennera Rakesh
Hotel found: Hotel Manglares
Hotel found: Shandrani Beachcomber Resort & Spa
Hotel found: ZINGARA 76ft Catamaran, full crew-all included
Hotel found: Finch Bay Galapagos Hotel
Hotel found: Casa Tia Villa
Hotel not found... skipping.
Hotel found: Uruna Bay Retreat
Hotel found: Castle Motor Lodge Motel
Hotel found: Tanna Lodge
Hotel found: Lorengau Harbourside Hotel
Hotel found: Taloa Heights
Hotel found: Pousada Porto Praia
Hotel found: Isles Sunset Lodge
Hotel found: "Plantation Bed and Breakfast
Hotel found: Hotel Cerro De Zumba
Hotel found: Atlantis Hotel
Hotel found: Sea Lounge! Bar, Club & Restaurant
Hotel found: Pousada dos Navegantes
Hotel found: Orient Apartments
Hotel found: Hilo Hawaiian Hotel
Hotel found: Hospitality Carnarvon
Hotel not found... skipping.
Hotel found: Osprey Beach Hotel
Hotel found: hotêl doufoulougou
Hotel found: Waigo Splash Hotel
Hotel found: Bungalow 63
Hotel found: Hanoi Golden Hotel
Hotel found: Keleti Beach Resort
Hotel found: Hotel Pousada São José
Hotel found: Villa Enata
Hotel found: Welcomhotel By ITC Hotels, Bay Island, Port Blair
Hotel found: Lords Inn Somnath
Hotel found: Hotels in Lakshadweep Islands
Hotel found: The Westin San Jose
Hotel not found... skipping.
Hotel found: RUMBIA RESORT VILLA Paka Terengganu
Hotel found: The Ritz-Carlton, Half Moon Bay
Hotel found: Casa Fernandes
Hotel found: InterContinental Riyadh, an IHG Hotel
Hotel found: Hotel Tesoro Los Cabos
Hotel found: Nusa Island Retreat
Hotel not found... skipping.
Hotel found: Selina Pedasi
Hotel found: Hôtel Le Dronmi
Hotel found: Chambres d'hôte "La Trinité"
Hotel found: Al Falaj Hotel
Hotel found: Mission Of The Sun Hotel
Hotel found: Sur Plaza Hotel
Hotel found: Playa Canela Hotel Boutique
Hotel found: Medhufushi Island Resort
Hotel found: Hosteria Sampedro
Hotel found: Coastline Guest House
Hotel not found... skipping.
Hotel found: Humacao Bed & Breakfast
Hotel found: Ha'apai Beach Resort
Hotel found: RedDoorz Syariah near Taman Berlabuh Tarakan
Hotel found: Cititel Penang
Hotel found: Sheraton Kauai Coconut Beach Resort
Hotel found: Mercure Padang
Hotel found: Maui Seaside Hotel
Hotel found: Prestige Hotel
Hotel found: Pousada Porto De Canoas
Hotel found: Expeditions Ténére voyages
Hotel found: Bora-Bora Pearl Beach Resort & Spa
Hotel found: HOTEL ISABELA
Hotel found: Whispering Bamboo Cove Resort
Hotel found: Restaurant Greedy Coco Lodge Majunga
Hotel found: ibis Styles Karratha
Hotel found: Paradise Inn
Hotel found: Balaji tifen & meals veg & non veg hotel
Hotel found: Haji laloo memon house
Hotel found: Motel Papi Palace
Hotel found: Hotel Maiombe
Hotel found: Iftin hotel hobyo
Hotel found: Hotel Ponta Verde Maceió
Hotel found: Villa Park Hotel | Natal
Hotel found: Hotel Vitória Palace
Hotel found: The Esplanade Hotel (Accommodation section closed for refurbishment - Bar, Restaurant & Functions remain open)
Hotel found: Auberge’Inn
Hotel found: Hotel Shivam
Hotel found: Hotel Grand Continental Kuala Terengganu (4 Star)
Hotel not found... skipping.
Hotel found: Atlântic Hotel
Hotel found: Fengshui Residence
Hotel found: Circuit House, Pirojpur
Hotel found: Hôtel Le Lagon
Hotel found: Royal Decameron Complex - Puerto Vallarta
Hotel found: GUBUK SUGIANTO
Hotel found: Palpa Lines
Hotel found: Oliveira Palace Hotel
Hotel found: Pousada do Cabeça
Hotel found: Benjie's Kubo & Cottages
Hotel found: JABIR HOTEL
Hotel found: castelo pizzaria
Hotel found: Hotel Morotin
Hotel not found... skipping.
Hotel found: Scuba Portobelo
Hotel found: Kost Pria
Hotel found: The Passage
Hotel found: Batalla’s Lodging House
Hotel found: Swiss Belhotel Manokwari
Hotel found: Posada Lilia
Hotel found: Niyama Private Islands Maldives
Hotel found: Club Hotel Eilat
Hotel found: Lakatoro Palm Lodge
Hotel found: Heritage Park Hotel
Hotel found: Best Western Plus Abbey Inn
Hotel found: SHREE RAM TRADERS
Hotel found: Shanti Maurice Resort & Spa
Hotel found: Pirineos
Hotel found: Hotel 15 Letras
Hotel found: Erlyn’s Sta Rosa City Home
Hotel not found... skipping.
Hotel found: SanBiz Lodge
Hotel found: Posada Del Fin Del Mundo
Hotel found: Maringe Lagoon Lodge
Hotel found: INN NEW HORIZON
Hotel found: Sahid Bela Ternate Hotel
Hotel found: Ujamaa Beach Resort
Hotel found: Khách Sạn Mường Thanh Luxury Cà Mau
Hotel found: MVC Transient Room
Hotel not found... skipping.
Hotel found: Al Djadid
Hotel found: Amiin Hotel
Hotel found: Pension Oaoa
Hotel found: Alarne - Área De Lazer Do Alto Rio Negro
Hotel found: Hotel Executivo Palace
Hotel not found... skipping.
Hotel found: Nuli Sapi
Hotel found: Casa particular Pedro y Tamara
Hotel found: @HOM Hotel by Horison
Hotel found: Grage Hotel Bengkulu
Hotel found: Seagulls Inn Namatani
Hotel found: Holiday Inn Express & Suites Oroville Lake, an IHG Hotel
Hotel found: Ilha Praia Hotel
Hotel found: Oumou Elghoura
Hotel found: Deluxe Inn
Hotel found: Haajy Guest House 1
Hotel found: San Ramon Marriott
Hotel found: Ocean View Beach House
Hotel found: hotel la terminal
Hotel found: Amaloh Boutique Resort
Hotel found: Puri Brata
Hotel found: Grand Vilia Hotel
Hotel found: Hotel Prado
Hotel found: Hotel Praia Morena
Hotel found: Bichito
Hotel found: Mubashar Quarters
Hotel found: Grand Palladium Jamaica Resort & Spa
Hotel found: حامد محمد نور
Hotel found: Bonifacio Lodge
Hotel found: Holiday Inn Selma-Swancourt, an IHG Hotel
Hotel found: مزرعة راحة النفوس المنزفة
Hotel found: Agapita M. Nicart
Hotel found: Pousada Rua Camurupim
Hotel found: Hotel Atlântico Rio Grande
Hotel found: Turaif
Hotel found: Fakhamat Al Orjoana Apartment
Hotel not found... skipping.
Hotel found: Manaus Hotéis Millennium
Hotel found: Storyboard Beach Resort
Hotel found: Sukhana River nilu and rushi home
Hotel found: Beach Rotana
Hotel found: CHACHA BHATIJA AAMLET CENTAR
Hotel found: Nuba Nile
Hotel found: Radisson Blu Resort & Spa - Alibaug, India
Hotel found: POUSADA TRAVÉS'CIA
Hotel found: Omadhoo Inn
Hotel found: ProDAF/Diffa
Hotel found: Paihuen
Hotel found: Auki Motel
Hotel found: Coron Westown Resort
Hotel found: Hotel Piesta
Hotel found: RIVÂT LODGE
Hotel found: Hotel La Villa Couacou
Hotel found: Rancho Canephora
Hotel found: Hotel Ritz Sumbe
Hotel found: Hotel Caonaba
Hotel found: Blendana Hotel Assosa
Hotel found: Blue Ridge Beach Resort
Hotel found: Le Rocher de Tahiti
Hotel found: Hotel Saigon-PT
Hotel not found... skipping.
Hotel found: Lindsey Hôtel
Hotel not found... skipping.
Hotel found: Diplomat Guest House
Hotel found: Felmar Beach resort
Hotel found: Sama Emirate Hotel
Hotel found: Hotel Citra
Hotel found: Hotel El Emigrante
Hotel found: Hotel Sri Krishna Residency
Hotel found: Hotel Mirage
Hotel found: Bonthe Holiday Village
Hotel found: Oceano
Hotel found: Hayas Guest Inn, Central Roundabout, Gujba Road
Hotel found: Penginapan Kim
Hotel found: 900 Boutique INN
Hotel found: Edwardian Hotel
Hotel found: LIKWALE LODGE
Hotel found: Hotel del Comahue
Hotel found: Veranda Paul et Virginie Hotel & Spa
Hotel found: Hotel Tolosa
Hotel found: hantiwadaag village part one
Hotel found: Rafiur Rahman
Hotel not found... skipping.
Hotel found: Hotel De Paris
Hotel found: Comfort Inn Hotel
Hotel found: ALETHEIA Appartement Sinnamary
Hotel found: La Granadina
Hotel found: Sunset Inn
Hotel found: Royal Tropicana Hotel
Hotel found: HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel
Hotel found: Mövenpick Qassim
Hotel found: Hotel Provincial
Hotel found: Casa Dora, Bubaque
Hotel found: Piaçabuçu News
Hotel found: Sloth Island Nature Resort
Hotel not found... skipping.
Hotel found: Pan Tha Tin Guest House - Burmese Only
Hotel found: Satya Lodge
Done finding hotels. 209 hotels found, 16 skipped

In [15]:
hotel_df.count()

City           225
Country        225
Max Temp       225
Description    225
Lat            225
Lng            225
Hotel Name     209
dtype: int64

In [17]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City           209
Country        209
Max Temp       209
Description    209
Lat            209
Lng            209
Hotel Name     209
dtype: int64

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
locations

         Lat      Lng
1    18.4167  84.0500
5    -9.0744 -44.3586
13   -0.6000  73.0833
16   15.4167  77.8833
19   16.5167 -98.7500
..       ...      ...
665  11.2833 -15.8333
667 -10.4056 -36.4344
670   6.4000 -58.6167
677  20.1833  94.8833
682  17.6833  83.0167

[209 rows x 2 columns]

In [21]:
# 11a. Add a marker layer with pop-up info box for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.85)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))